<!DOCTYPE html>
<html>
<head>
	<title>Hostel Roomate</title>
</head>
<body>
<form action="responses" method="post">
  Name         : <input type="text" name="name" maxlength="20"> <br >
  Roll Number  : <input type="text" name="roll_number" maxlength="7"> <br>
  Stream	   : <input type="text" name="stream" > <br>
  School       : <input type="text" name="school" > <br>
  Address      : <input type="text" name="address" > <br>
  Home state   : <input type="text" name="state" > <br>
  <br> <br> <br>
  Choose the most suitable option....<br>
  Q.Which of the following best suits you?
  <br>
  <input type="radio" name="rad1" id="rad11" value="1">Early to bed, Early to rise..<br>
  <input type="radio" name="rad1" id="rad12" value="2">No particular timings<br>
  <input type="radio" name="rad1" id="rad13" value="3">Late night Party Owl... !!!<br>
  <br><br>
  Q.How close to you want your roommate to be?
  <br>
  <input type="radio" name="rad2" id="rad21" value="1">My bestie.. Share everything with them...<br>
  <input type="radio" name="rad2" id="rad22" value="2">A good friend.. Study together..<br>
  <input type="radio" name="rad2" id="rad23" value="3">I would prefer my own personal space.. <br>
  <br><br>
  Q.Your Food preferences.
  <br>
  <input type="radio" name="rad3" id="rad31" value="1">I only have Vegetarian Food...<br>
  <input type="radio" name="rad3" id="rad32" value="2">I am okay with both<br>
  <input type="radio" name="rad3" id="rad33" value="3">I religiously have non veg food every alternate day...<br>
  <br><br>
  Q. How often do u practice religion?
  <br>
  <input type="radio" name="rad4" id="rad41" value="1">I practice it daily..
  <input type="radio" name="rad4" id="rad42" value="2">I practice it ocassionally..
  <input type="radio" name="rad4" id="rad43" value="3">I am an atheist..
  <br><br>
  Q.How often would you party?
  <br>
  <input type="radio" name="rad5" id="rad51" value="1">I am a party animal..<br>
  <input type="radio" name="rad5" id="rad52" value="2">I dont mind partying within limits...<br>
  <input type="radio" name="rad5" id="rad53" value="3">Parties are a no-no.. <br>
  <br><br>
   <input type="submit" />
</form>
</body>
</html>